{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% set title = 'Login' %}

{% block body %}
    <div class="col-md-5 mx-auto">
        <h3>Rejestracja</h3>
        <hr>

        {{ form_start(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <hr>

        {{ form_widget(form) }}

        <button class="btn btn-primary" type="submit">Zarejestruj się</button>
        {{ form_end(form) }}
    </div>
{% endblock %}