{% extends 'base.html.twig' %}
{% set title = 'Indeks' %}

{% block body %}
   <div class="list-group">
        {% for offer in offers %}
            <a href="{{ path('offer.show', {'id': offer.id}) }}" class="list-group-item list-group-item-action d-flex">
                <div class="col-4 text-left">{{ offer.name }}</div>
                <div class="col-4 text-center">{{ offer.category.name }}</div>
                <div class="col-4 text-right">{{ (offer.price / 100)|number_format(2, ',', ' ') }} PLN</div>
            </a>
        {% endfor %}
    </div>

    <nav class="mt-2">
        <ul class="pagination justify-content-center">
            {% for page in max(currentPage - 2, 1)..min(currentPage + 2, (offerCount / 8)|round(0, 'ceil')) %}
                {% if currentPage == page %}
                    <li class="page-item active"><a class="page-link" href="{{ path('offer.index', {'page': page}) }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ path('offer.index', {'page': page}) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}