{% extends 'base.html.twig' %}
{% set title = 'Moje oferty' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="w-50">Nazwa</th>
            <th scope="col" class="w-25">Cena</th>
            <th scope="col" class="w-25 text-center">Opcje</th>
        </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
                <tr>
                    <td class="align-middle">
                        {% if offer.active %}
                            <span class="badge badge-success">Aktywne</span>
                        {% else %}
                            <span class="badge badge-danger">Nieaktywne</span>
                        {% endif %}
                        {{ offer.name }}
                    </td>
                    <td class="align-middle">{{ (offer.price / 100)|number_format(2, ',', ' ')}} PLN</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-sm btn-light" href="{{ path('offer.show', {'id': offer.id}) }}">Pokaż</a>
                            {#{% if offer.active %}#}
                                {#<a class="btn btn-sm btn-light" href="{{ path('offer.show', {'id': offer.id}) }}">Dezaktywuj</a>#}
                            {#{% else %}#}
                                {#<a class="btn btn-sm btn-light" href="{{ path('offer.show', {'id': offer.id}) }}">Aktywuj</a>#}
                            {#{% endif %}#}
                            <a class="btn btn-sm btn-primary" href="{{ path('offer.edit', {'id': offer.id}) }}">Edytuj</a>
                            <a class="btn btn-sm btn-danger" href="{{ path('offer.delete', {'id': offer.id}) }}">Usuń</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav class="mt-2">
        <ul class="pagination justify-content-center">
            {% for page in max(currentPage - 2, 1)..min(currentPage + 2, (offerCount / 8)|round(0, 'ceil')) %}
                {% if currentPage == page %}
                    <li class="page-item active"><a class="page-link" href="{{ path('user.my_offers', {'page': page}) }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ path('user.my_offers', {'page': page}) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
